
.index-content
  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://publicdomainq.net/images/201802/28s/publicdomainq-0019419ubx.jpg", class:"image-box"
        %span.card-title  猫
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", details_animals_path

  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://www.pakutaso.com/shared/img/thumb/KAZUHIRO171013017_TP_V.jpg", class:"image-box"
        %span.card-title  ハリネズミ
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", "#"

  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://www.pakutaso.com/shared/img/thumb/MIYA19224DSC_6059_TP_V.jpg", class:"image-box"
        %span.card-title  インコ
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", "#"

  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://www.pakutaso.com/shared/img/thumb/SHIO16020512IMG_6281_TP_V.jpg", class:"image-box"
        %span.card-title イグアナ
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", "#"

  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://vignette.wikia.nocookie.net/disney3676/images/8/8c/Mickey_Mouse_.jpg/revision/latest?cb=20170822062457&path-prefix=ja", class:"image-box"
        %span.card-title  ネズミ
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", "#"

  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://www.pakutaso.com/shared/img/thumb/TS0529003_TP_V.jpg", class:"image-box"
        %span.card-title 犬
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", "#"

  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://www.pakutaso.com/shared/img/thumb/TSURU170308-082_TP_V.jpg", class:"image-box"
        %span.card-title  犬
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", "#"

  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://www.pakutaso.com/shared/img/thumb/SHIOSIOIMG_3589_TP_V.jpg", class:"image-box"
        %span.card-title にわとり
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", "#"

  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://www.pakutaso.com/shared/img/thumb/AXISIMG_0794_TP_V.jpg", class:"image-box"
        %span.card-title 猫
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", "#"

  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://www.pakutaso.com/shared/img/thumb/SIKUN190317013_0_TP_V.jpg", class:"image-box"
        %span.card-title  レッサーパンダ
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", "#"

  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://www.pakutaso.com/shared/img/thumb/KM19317018_TP_V.jpg", class:"image-box"
        %span.card-title カモシカ
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", "#"

  .col.s12.m7
    .card
      .card-image
        = image_tag src="https://www.pakutaso.com/shared/img/thumb/SAYA1913040_TP_V.jpg", class:"image-box"
        %span.card-title マンタ
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to " プロフィール", "#"



